version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend_service
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    container_name: frontend_service
    ports:
      - "5173:5173"
